<form action="/hacktivities" method="post">

  <label for="name">name</label>
  <input type="text" name="name" id="hacktivity-name" placeholder="name">
  <label for="descripton">description</label>
  <input type="text" name="description" id="hacktivity-description">
  <label for="date">date</label>
  <input type="date" name="date" id="hacktivity-date">
  <label for="location">location</label>
  <input type="text" name="location" id="hacktivity-location">
  <label for="dduration">duration</label>
  <input type="number" name="duration" id="hacktivity-duration">

</form>