<form action="/hacktivities/create" method="post">

  <label for="name">Hacktivity</label>
  <input type="text" name="name" id="hacktivity-name" placeholder="Hacktivity name">
  <label for="descripton">Description</label>
  <input type="text" name="description" id="hacktivity-description" placeholder="Describe your Hacktivity">
  <label for="date">Date</label>
  <input type="date" name="date" id="hacktivity-date">
  <label for="location">Location</label>
  <select name="location" id="hacktivity-location">
   {{#each city}}
   <option value="{{this._id}}">{{this.name}}</option>
   {{/each}}
  </select>
  <label for="duration">Duration</label>
  <input type="number" name="duration" id="hacktivity-duration" placeholder="Minutes">
  <button type="submit">Create hacktivity</button>
</form>