  {{#if info}}
    {{info}}
  {{/if}}

<h1>List all Hacktivities</h1>
<ul>
  {{#each hacktivities }}
  <li>
    <h3><a href="/hacktivities/{{this._id}}">{{ this.name }}</a> </h3>
    <p>{{this.description}}</p>
  </li>
  {{/each}}
</ul>


