<h1>List all Hacktivities</h1>
<ul>
  {{#each hacktivity }}
  <li>
    <a href="/hacktivities/{{this._id}}">{{ this.name }}</a>
    <form action="/hacktivities/{{this._id}}/delete" method="post">
      <button type="submit">Delete hacktivity</button>
    </form>
  </li>
  {{/each}}
</ul>

{{!-- <a href="/logout">logout</a> --}} 