<div class="citylist-all">

<p class="cities-title">About us</p>
  
    <ul class="ceo-box">

       <li class="ceo-list">
  
         <div class="ceo-container">
            <a>Gerard:</a>
            <p>Founder & CEO</p>
             <img  id="ironpic" src="images/IRONHACK_0023.jpg" alt="Gerard photo"></a>
        </div>

      </li>
      <hr>
      <li class="ceo-list">
  
         <div class="ceo-container">
            <a>Alex:</a>
            <p>Founder & CEO</p>
             <img id="ironpic" src="images/IRONHACK_0029.jpg" alt="Alex photo"></a>
        </div>

      </li>
      {{!-- <li>Raquel Caballero</li>
      <li>Aquiles Bailo</li> --}}
    </ul>
  
</div>