<div class="citylist-all">

<p class="cities-title">About us</p>
  
    <ul class="city-box">

       <li class="city-list">
  
         <div class="city-container">
            <a><u>Gerard</u>:</a>
            <p>Founder & CEO</p>
             <img class= "city-image"src="images/IRONHACK_0023.jpg" alt="Gerard photo"></a>
        </div>

      </li>
      <hr>
      <li class="city-list">
  
         <div class="city-container">
            <a><u>Alex</u>:</a>
            <p>Founder & CEO</p>
             <img class= "city-image"src="images/IRONHACK_0029.jpg" alt="Alex photo"></a>
        </div>

      </li>
      {{!-- <li>Raquel Caballero</li>
      <li>Aquiles Bailo</li> --}}
    </ul>
  
</div>