  <div class="contact-box">
      
  <h1>Contact us</h1>

<p>Do you have any questions about the product?</p>
<p>Any problems with the activities?</p>
<p>A bad experience with an activity carried out?</p>

<p>In any case we leave our email at your disposal so that you can write to us directly and be able to solve the case as soon as possible.</p>

<a href="mailto:support@hacktivities.com">support@hacktivities.com</a>


<p>Thank you for your cooperation,</p>

<p><i>The hacktivity team.</i></p>

  </div>
  
