<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#if currentUser}}
<a href="/user">{{ currentUser.username }}</a> 
{{/if}}

<br><button><a href="/hacktivities">hacktivities</a></button>
<br><button><a href="/hacktivities/create">create hacktivities</a></button>
