{{#if error}}
  <p class="flash">{{error}}</p>
{{/if}}
{{#if info}}
  <p class="flash">{{info}}</p>
{{/if}}

<div class="coronavirus-banner">
<p>Don't travel with the Coronavirus. Sagrada Familia has been waiting 138 years, it can wait a little longer. <a href="https://www.mscbs.gob.es/en/profesionales/saludPublica/ccayes/alertasActual/nCov-China/home.htm">More Information</a>.</p>
</div>

<div class="top-banner">
  <a href="/hacktivities"><img class="top-banner-image" src="https://s1.1zoom.me/b5060/0/Spain_Houses_Evening_Malaga_Roof_562111_1920x1080.jpg" alt=""> </a>
  
   <div class="top-banner-text">
     <a href="/hacktivities"> <img id="logo-banner" src="https://i.ibb.co/r5csbMC/Hack-Tivities-blanc.png" alt=""></a>
   </div>
</div>

<div class="main-cities">
    <div class="main-cities-title">
      <p>Main destinations will list(flow)</p>
    </div>
    <div class="city-banner">
        <a href="/cities/5e7e4dd61b75e44bd42252f4"><img class="city-banner-image" src="https://wallpapercave.com/wp/wp4196468.jpg" alt=""></a>
       <div class="city-banner-text">
        <a href="/cities/5e7e4dd61b75e44bd42252f4">Barcelona</a>
       </div>
    </div>
   <div class="city-banner">
        <a href="/cities/5e7e4dd61b75e44bd42252f6"><img class="city-banner-image" src="https://cms.guggenheim-bilbao.eus/uploads/2019/05/el-edificio-guggenheim-bilbao-1.jpg" alt=""> </a>
       <div class="city-banner-text">
          <a href="/cities/5e7e4dd61b75e44bd42252f6">Bilbao</a>
       </div> 
           
    </div>
     <div class="city-banner">
       <a href="/cities/5e7e4dd61b75e44bd42252f9"> <img class="city-banner-image" src="https://s1.1zoom.me/b5050/876/Spain_Houses_Roads_Malaga_Hill_From_above_563100_1920x1080.jpg" alt=""> </a>
        <div class="city-banner-text">
        <a href="/cities/5e7e4dd61b75e44bd42252f9">Malaga</a>
       </div>
    </div>
    <div class="button-show-more">
     <a href="/cities" class="button4" style="background-color:#b69cff">Show more</a></button>

    </div>
</div>

