<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/navbar.css'>
  </head>
    <header>
  <div class="container">
    <h1 class="logo"><a href="/">Hacktivities</a></h1>
    <nav>
      <ul class="navigation">
        <li><a href="/user/login">Login</a></li>
        <li><a href="/user/signup">Signup</a></li>
        <li><a href="/cities">Cities</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
  <body>
    {{{body}}}
  </body>
</html>
