<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{!-- <link rel="stylesheet" href='/stylesheets/navbar.css'> --}}
  </head>
  <link href="http://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css" />
<header class="header">
  <a href="/" class="logo">HACKTIVITIES</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/cities">Cities</a></li>
    <li><a href="contact">Contact</a></li>
    <li><a href="aboutus">About us</a></li>
  </ul>
</header>
  <body>
    {{{body}}}
    <div class="footer">
      <div class="info-footer">
      <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png" alt="Buy now with PayPal" />
      </div>

      </div>
  </body>
</html>
