<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/navbar.css'>
    <link rel="stylesheet" href='/stylesheets/index.css'>
    <link rel="stylesheet" href='/stylesheets/city.css'>
    <link rel="stylesheet" href='/stylesheets/hacktivities.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <link href="http://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../scripts/navbar.js"></script>
  <body>
  <div class='container'>
<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      <a class='nav-hack'  href="/">HACKTIVITIES</a>
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links">
    {{#if currentUser}}
    <a href="/user">{{currentUser.username}}</a>
    <a href="/cities" >Cities</a>
    <a href="/hacktivities">Hacktivities</a>
    <a href="/user/my-hacktivities">My Hacktivities</a>
    <a href="/hacktivities/create">Create Hacktivity</a>
    <a href="/user/my-bookings">My Bookings</a>
    <a href="/user/logout" >Logout</a>
    {{else}}
    <a href="/signup" >Signup</a>
    <a href="/login" >Login</a>
    <a href="/hacktivities">Hacktivities</a>
    <a href="/cities" >Cities</a>
    {{/if}}
    
  </div>
</div>
<div class="content">
    {{{body}}}
   </div>
<footer class="footer">
 
   <div class="footer-links">
     	<a href="/">Home</a>
			<a href="/signup">Signup</a>
			<a href="/about">About</a>
			<a href="/faq">FAQ</a>
			<a href="/contact">Contact</a>
   </div>
       
    <div class="footer-cards">
      <img height="30" src="https://shoplineimg.com/assets/footer/card_visa.png"/>
      <img height="30" src="https://shoplineimg.com/assets/footer/card_master.png"/>
      <img height="30" src="https://shoplineimg.com/assets/footer/card_paypal.png"/>
      <img height="30" src="https://shoplineimg.com/assets/footer/card_amex.png"/>
    </div>
  <div class="copyright">
    <p>Hacktivities &copy; 2020</p>
  </div>
 
</footer>
</div>
  </body>
</html>
