<h1>List of the hacktivities where you have suscribed:</h1>

{{#if booking}}
  {{#each booking}}
    {{#if this}}
      <a href="/hacktivities/{{this.hacktivityId._id}}">{{this.hacktivityId.name}}</a>
      <form action="/hacktivities/{{this.hacktivityId._id}}/deletebook" method="post">
        <button type="submit">Delete booking</button>
      </form>
    {{/if}}
  {{/each}}
  {{else}}
    <p>You have not yet subscribed to any hacktivity. For it:</p>
    <a href="/hacktivities">List hacktivities</a>
{{/if}}