{{#if error}}
  {{error}}
{{/if}}
{{#if info}}
  {{info}}
{{/if}}
<div class="user-profile">

<h2>Your profile information</h2>
<h3>{{currentUser.username}}</h3>
<div class="user-links">

<a href="/user/my-bookings">My-bookings</a>
<a href="/user/my-hacktivities">Manage your hacktivities</a>
<a href="/user/{{currentUser._id}}/update">Update profile</a> 
<a href="/user/logout">Logout</a>
</div>

</div>