<link rel="stylesheet" href='/stylesheets/login.css'>
<div class="log-sign"> 
 

{{#if error}}
  <p class="flash">{{error}}</p>
{{/if}}
{{#if info}}
  <p class="flash">{{info}}</p>
{{/if}}
  
<div class="wrapper fadeInDown">
  <div id="formContent">


    <!-- Tabs Titles -->
    <a href="/login"><h2 class="inactive underlineHover" id="log"> Sign In </h2></a>
    <h2 class="active" id="sign">Sign Up </h2>

        <!-- Icon -->
    <div class="fadeIn first">
      <img src="images/HackTivities-blanc.png" id="icon"  />
    </div>

    <!-- Login Form -->
    <form id="form" action="/signup" method="POST">
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="Your Username" value="{{username}}">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="******" minlength="6" required>
      <input type="submit" class="fadeIn fourth" value="Sign up">
    </form>
  </div>
</div>
</div>

