<h2>You want to be part of Hacktivitis and have multiple advantages:</h2>
  {{#if error}}
  {{error}}
  {{/if}}
<p>Sign up:</p>

<form id="form" action="/signup" method="POST">
  <label for="username">Username</label><br>
  <input type="text" name="username" placeholder="Your new username">

  <label for="password">Password</label><br>
  <input type="password" name="password" placeholder="******" minlength="6" required><br>

  <button type="submit">Create account</button>
</form>

<h2>Are you already registered?</h2>
<form action="/login">
    <input type="submit" value="LOGIN" />
</form>