
<h3>Do you want to update any information about your profile?</h3>
{{user.username}}
<form action="/user/{{currentUser._id}}/update" method="post">
  <label for="username">name</label>
  <input type="text" name="username" id="username" placeholder="username" value="{{currentUser.username}}">
  <button type="submit">UPDATE!</button>
</form>

<h4>Delete User?</h4>
<form action="/user/{{currentUser._id}}/delete" method="post">
  <button type="submit">DELETE!</button>
</form>