

<h1>List of hacktivities in {{city.name}}</h1>
<img  class='hacktivity-img' src="{{city.image}}" alt="">
<br>

{{#each hacktivities}}
  <a href="/hacktivities/{{this._id}}">{{this.name}}</a><br>
  
{{/each}}