
<div class="city-page">
<img class="city-image" src="{{city.image}}" alt="">
  <p>List of hacktivities in {{city.name}}</p>

{{#each hacktivities}}

  <a href="/hacktivities/{{this._id}}">{{this.name}}</a><br>
  
{{/each}}
</div>
