<div class="citylist-all">

<p class="cities-title">CITIES</p>
  
    <ul class="city-box">

     {{#each city }}

       <li class="city-list">
  
         <div class="city-container">

             <a href="/cities/{{this._id}}"><img class= "city-image"src="{{this.image}}" alt=""></a>
             <a class= "city-link" href="/cities/{{this._id}}">{{ this.name }}</a>

          </div>
        </li>
      {{/each}}
    </ul>
  
</div>

{{!-- <a href="/logout">logout</a> --}} 