@import url("https://fonts.googleapis.com/css?family=Varela&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Varela", sans-serif;
}
.footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #b69cff;
}
.footer-links{
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
}

.footer-links a{
  text-decoration: none;
  color: #2F2842;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.copyright{
  font-size: 0.7rem;
  
}
.nav {
  height: 50px;
  width: 100%;
  background-color: #b69cff;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}
.nav-hack {
  color: #2f2842;
  text-decoration: none;
}
.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #2f2842;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #2f2842;
}

.nav > .nav-links > a:hover {
  background-color: #5b4e80;
  color: #b69cff;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 768px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: #5b4e80 solid;
    color: #b69cff;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #2f2842;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #b69cff;
    height: 0px;
    transition: all 0.1s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: auto;
    z-index: 1000;
    overflow-y: auto;
    
  }
}

