.log-sign{
  color: #2F2842;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1rem;
}


.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
 
}
.content{
  min-height: 100%;
  flex: 1 0 auto;
}
.contact-box{
  background-color: #5B4E80;
  text-align: left;
  height: 100vh;
  padding: 1.5rem;
}
.contact-box h1{
 margin: 0;
 text-align: center;
}

.citylist-all{
  background-color: #5B4E80;
}
.cities-title{
 margin: 0;
 text-align: center;
 padding-top: 1rem;
 padding-bottom:1rem;
 border: 0;
 font-size: 3rem;
 color: white;
}
.city-box{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  
  margin: 0;
  padding-left: 0;
}
.city-image{
  display: block;
  max-width: 100%;
  height: auto;
}
.city-list{
 list-style: none;
  margin: 0;
  width: 100%;
}
.city-container{
  position: relative;
  display: inline-block;
  /* margin: 2em; */
}
.city-link{
  position: absolute;
  bottom: 8px;
 left: 16px;
 text-align: center ;
 color: white;
 font-weight: 700;
 font-size: 2.2rem;
 text-decoration: none;
}
.ceo-box{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
padding-bottom: 4rem;
padding-left: 0;
  margin: 0;
 
}
#ironpic{
  width: 100%;
  display: block;
  
  height: auto;
}


.ceo-list{
 list-style: none;
  margin: 0;
  width: 70%;
}
.ceo-container{
  position: relative;
  display: inline-block;
  /* margin: 2em; */
}

.user-profile{
  padding: 1.5rem;
  color: #B69CFF;
  background-color: #2F2842;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-profile h3{
  text-transform: capitalize;
  font-size: 2rem;
  margin: 0;
  padding-bottom: 1rem;
  text-align: center;
  padding-top: 1.5rem;

}
.user-profile h2{
  text-align: center;
}

.user-links a{
  text-decoration: none;
  color: #B69CFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:0.35rem;
  padding-bottom: 0.35rem;
  font-size: 1.3rem;
}

.avatar{
height: 5rem;
width: 5rem;

}
.username{
  display: flex;
  flex-direction: row;

}
#ai{
  margin-right: 1rem;
  margin-left: 1rem;
}

.hack-list{
height: 100%;
margin: 1.5rem;
display: flex;
flex-direction: column;
color: #2F2842;

}
.hack-list li{
  list-style: none;
}
.title-list{
  font-size: 1.9rem;
}
.hack-list ul{
  padding: 0;
}
.each-hack a{
  color: #B69CFF;
  text-transform: uppercase;
  text-decoration: none;
}
.each-hack p{
  padding-left: 1rem;
}
#my-hack{
  text-align: center;
}
#hack-my{
  padding-top: 1rem;
  text-align: center;
}
.no-hack{
  text-align: center;
}







@media (min-width:768px) {


  .citylist-all{
    background-color: white;
  }
  .cities-title{
    margin: 0;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0;
    border: 0;
    font-size: 4rem;
    color: #2F2842;
   }
  .city-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 10em;
  
  }
  .city-image{
    display: block;
    max-width: 100%;
    height: auto;
  }
  .city-list{
   list-style: none;
    margin: 0;
    width: 40%;
    overflow: hidden;
  }
  .city-container{
    position: relative;
    display: inline-block;
    margin: 2em;
  }
  .city-link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 900;
    font-size:4em;
    text-decoration: none;
  
  }
  .city-list:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
   
  }
  .city-link:hover{
    color: #2F2842;
  }




}

